{% extends "layout.html" %}

{% block title %} {{ config.THEME_SETTINGS.site_title }}{% endblock %}

{% block hotnews %}
    {% if this.news %}
        <div class="row no-gutters hotnews">
            <div class="col text-center mx-auto">{{ this.news }}</div>
        </div>
    {% endif %}
{% endblock %}

{% block masthead %}
    <header class="masthead frontpage d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-3">{{ this.masthead }}</h1>
            <div class="mb-5 col-lg-8 offset-lg-2">
                {{ this.sub_masthead }}
            </div>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">{{ this.know_more }}</a>
        </div>
        <div class="overlay"></div>
    </header>
{% endblock %}

{% block page_content %}
    <!-- About -->
    <section class="content-section bg-light" id="about">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <a class="link-unstyled about-url" href="{{ this.about_url }}">
                        <h2>{{ this.about_title }}</h2>
                        <p class="lead mb-5">{{ this.about_content }}</p>
                        {% set about_pic = this.about_picture %}
                        {% if about_pic %}
                            <h3 class="mb-5">
                                <img class="incircle" src="{{ about_pic|url(alt='en') }}" alt="{{ this.about_title }}">
                            </h3>
                        {% endif %}
                    </a>
                    <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">{{ this.service_cards_title }}</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0">{{ this.service_cards_blurb }} </h3>
                <h2 class="mb-5">{{ this.service_cards_title }}</h2>
            </div>
            <div class="row">
                {% for card_blk in this.service_cards.blocks %}
                    <div class="block block-{{ card_blk._flowblock }} col-lg-3 col-md-6 mb-5 mb-lg-0">
                        {{ card_blk }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Callout -->
    <section class="callout">
        <div class="container text-center">
            <h2 class="mx-auto mb-5">{{ this.callout }}</h2>
            {% for gallery in  site.root.children.filter(F._model=='gallery_page') %}
                <a class="btn btn-primary btn-xl" href="{{ gallery.url_path }}">{{ gallery['title'] }}</a>
            {% endfor %}
        </div>
    </section>

    <!-- Portfolio -->
    <section class="content-section" id="articles">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Articles</h3>
                <h2 class="mb-5">Why Micro Capsules Hair Extension</h2>
            </div>
            <div class="row no-gutters">

                {% for article in this.children.all()[0].children %}
                    <div class="col-lg-6">
                        <a class="article-item" href="{{ article |url }}">
                            <div class="caption">
                                <div class="caption-content">
                                    <h2>{{ article.title }}</h2>
                                    <p class="mb-0">{{ article.excerpt }}</p>
                                </div>
                            </div>
                            {% set excerpt_image = article.attachments.get(article.image_excerpt)  %}
                            {% if excerpt_image %}
                                <img src="{{ excerpt_image |url }}" alt="{{ article.title }}">
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Call to Action -->
    <section class="content-section bg-primary text-white">
        <div class="container text-center">
            <h2 class="mb-4">{{ this.call_to_action_intro |default('Adorable call to action buttons') }}</h2>
            {% if this.call_to_action_button1_url %}
                <a href="{{ this.call_to_action_button1_url |default('#') }}"
                   class="btn btn-xl btn-light mr-4">{{ this.call_to_action_button1_text |default("button1") }}</a>
            {% endif %}
            {% if this.call_to_action_button2_url %}
                <a href="{{ this.call_to_action_button2_url |default('#')}}"
                   class="btn btn-xl btn-dark">{{ this.call_to_action_button2_text |default("button2" ) }}</a>
            {% endif %}
        </div>
        {% if this.call_to_action_text %}
            <div class="container call-to-action-text text-center">{{ this.call_to_action_text }}</div>
        {% endif %}
    </section>

    <!-- Map -->
    {% if this.encoded_map_url %}
        <section id="contact" class="map">
            <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?f={{ this.encoded_map_url }}"></iframe>
            <br/>
            <small>
                <a href="https://maps.google.com/maps?f={{ this.encoded_map_url }}"></a>
            </small>
        </section>
    {% endif %}

{% endblock %}
