{% extends "layout.html" %}

{% block masthead %}
    <header class="masthead gallery d-flex" id="gallery">
        <div class="container text-center my-3">
            <h1 class="mb-1">{{ this.title }}</h1>
        </div>
    </header>
{% endblock %}

{% block page_content %}
    <section class="content-section gallery-content">
        <div class="container">
            <div class="row">
            <div class="row no-gutters" id="gallery-images">
                <div class="col-lg-8 mx-auto">
                </div>
            </div>
        </div>
    </section>
