<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ this.meta_description or this._slug }}">
    <meta name="keywords" content="{{ this.meta_keywords or this._slug }}">
    <meta name="author" content="{{config.THEME_SETTINGS.first_name}} {{config.THEME_SETTINGS.last_name}}">
    {# TODO: enable something like the following by testing for these filters first #}
    {#{% if (striphtmltags is defined) and (firstsentence is defined) %}
      <meta name="description" content="{{ this.meta_description or this.body|striphtmltags|firstsentence or this._slug }}">
    {% endif %}
    {% if (striphtmltags is defined) and (keywords is defined) %}
      <meta name="keywords" content="{{ this.meta_keywords or this.body|striphtmltags|keywords|join(', ') or this._slug }}">
    {% endif %}#}
    <title>{% block title %}{{ config.THEME_SETTINGS.site_title }} {% endblock %}</title>
    {% include './includes/head_assets.html' %}
    <!-- Custom style-->
    <style>
        {% block custom_header_style %}
        {% endblock %}
    </style>


    <script>
        {%  block header_script %}
        {% endblock %}
    </script>

</head>

<body id="page-top" class="{{ this._data['_model'] }}">
    {% block hotnews %}{% endblock %}
    {%  include 'includes/language.html' %}
    {%  include 'includes/navigation.html' %}
    <!-- Header -->
    {% block masthead %}{% endblock %}
    {% block page_content %}{% endblock %}

    {% block footer %}
        <!-- Footer -->
        <footer class="footer text-center">
            <div class="container social-row">
                {%  include 'includes/social_row.html' %}
                <p class="text-muted small mb-0">Copyright &copy; TechArtServ - KBeauty 2019</p>
            </div>
        </footer>
    {% endblock %}

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top"><i class="fas fa-angle-up"></i></a>

    {% include 'includes/post_footer_assets.html' %}
    <!-- Custom scripts for this page -->
    {% block custom_footer_js %}{%  endblock %}

</body>

</html>
