<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ this.meta_description or this._slug }}">
    <meta name="keywords" content="{{ this.meta_keywords or this._slug }}">
    <meta name="author" content="{{config.THEME_SETTINGS.first_name}} {{config.THEME_SETTINGS.last_name}}">
    {# TODO: enable something like the following by testing for these filters first #}
    {#{% if (striphtmltags is defined) and (firstsentence is defined) %}
      <meta name="description" content="{{ this.meta_description or this.body|striphtmltags|firstsentence or this._slug }}">
    {% endif %}
    {% if (striphtmltags is defined) and (keywords is defined) %}
      <meta name="keywords" content="{{ this.meta_keywords or this.body|striphtmltags|keywords|join(', ') or this._slug }}">
    {% endif %}#}
    <title>{% block title %}{% endblock %}</title>
    {% include './includes/head_assets.html' %}
</head>

{% block body %}{% endblock %}

</html>