.article_page {

  color : #fff;

  .masthead {
    min-height: 15rem;
    max-height: 15vh;
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;

    & h1 {
      font-size: 3.5rem;
      //color: $secondary;
    }
  }

  //h2, h3, h4, h5, h6 {
  //    color: $secondary;
  //  }


  // Content Section
  .content-section {
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  div.container {
    margin-left: auto;
  }

  footer.footer {
    position: absolute;
    bottom: 0;
    //height: 60px;
    width: 100%;

    margin-bottom: 0px;
    margin-top: 1rem;
    padding: unset;
    background-color: $secondary;
  }

  img.incircle {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  body {}

}
