

#menu-lang {
  position: fixed;
  left: 15px;
  top: 15px;

  text-align: center;

  line-height: 50px;

  z-index: 999;

  .dropdown-menu {
    background-color: $secondary;
  }

  .dropdown-item {
    background-color: $secondary;
    &:hover{
       background-color: $background;
    }
  }

  //&:hover {
  //    background-color: $background;
  //  }
  //&.active {
  //   background-color: $white;
  //   color: $gray-900;
  //}
}
